<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
    <script type="text/javascript" src="javascripts/ClientManager.js"></script>


    <script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="javascripts/knockout-3.0.0beta.js"></script>
	<script type="text/javascript" src="javascripts/TrekProbeViewModel.js"></script>
    <script src="javascripts/three.min.js"></script>
    <script src="javascripts/OrbitControls.js"></script>
    <script src="javascripts/RiftCamera.js"></script>
    <script src="javascripts/OculusBridge.min.js"></script>
    <script type="text/javascript" src="javascripts/OculusBridgeRender.js"></script>
  </head>
  <body>