<div class="options" data-bind="visible: viewOptionsIsOn" align="center">

    <br>
    <h1> - Settings - </h1>

    <table style="width:800px">
        <tr width="100">
            <td width="100">
                <h2>Vision:</h2>
            </td>
            <%= include visionOptions %>
        </tr>
        <tr width="100">
            <td width="100">
                <h2>Controls:</h2>
            </td>
            <%= include controlOptions %>
        </tr>
    </table>

</div>